

/* 글목록 */

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

	/* 댓글 쓰기*/
	#boardComment table {width: 100%;}
	#boardComment table th {width: 100px; padding: 0 5px; text-align: right; vertical-align: middle;}
	#boardComment table td {padding: 5px; text-align: left;}
	
	#boardComment #coContent {width: 99%; height: 120px;}
	
	#commentView ul {list-style: none; margin: 0; padding:0;}
	#commentView .oneDepth {margin: 10px 0; padding: 10px; background: #eee;} 
	#commentView .twoDepth {margin: 20px; padding: 10px; background: #fff;}
	#commentView .commentInfo {overflow: hidden;}
	#commentView .commentId {float: left;} 
	#commentView .commentBtn {float: right;} 
	#commentView .commentContent {clear: both;} 

	
/* 글삭제 */


#boardDelete table {width: 720px;}
#boardDelete tbody th {width: 100px; padding: 5px; text-align: right; vertical-align: top;}
#boardDelete tbody td {width: 620px; padding: 5px;}
#boardDelete .btnSet {text-align: center;}


.textCenter {text-align: center;}